@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Grandiflora One', cursive;
  top: 200px;
}

.pencil {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: rgba(27, 27, 27, 0.639);
  transition: all 0.5s;
  
}

.pencil:hover{
  color: rgba(35, 35, 35, 0.834);
  transform: scale(1.3);
}
.ptitle {
  font-size: 20px;
  margin-bottom: 10px;
}
.cnttitle{
  font-size: 20px;
  margin-bottom: 40px;
}
  
.uemail{
  font-size: 18px;
  margin-bottom: 40px;
}
.pcontent {
  font-size: 18px;
  margin-bottom: 10px;
}

.feelinner {
  display: flex;
  margin-bottom: 20px;
}
.feelingcnt {
  font-size: 30px;
  display: block;
  margin: 10px 10px;
}
.detailfeelcmt{
  width: 424px;
  text-align: center;
  line-height: 23px;
  word-wrap: break-word;
}
.myarticle {
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 8px;
  transition: all 0.3s;
  width: 38px;
  height: 20px;
  display: inline-block;
  text-align: center;
  font-weight: bolder;
}
.myarticle:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1024px ){
  .inner{
    top: 433px;
  }
  .pencil {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: rgba(27, 27, 27, 0.639);
    transition: all 0.5s;
  }
  
  .pencil:hover{
    color: rgba(35, 35, 35, 0.834);
    transform: scale(1.3);
  }
  .ptitle {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  .cnttitle{
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .uemail{
    font-size: 18px;
    margin-bottom: 40px;
  }
  .pcontent {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .feelingcnt {
    font-size: 25px;
    display: block;
    margin: 10px 10px;
    text-align: center;
  }
  .myarticle {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 8px;
    transition: all 0.3s;
    width: 38px;
    height: 20px;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    
  }

  .detailfeelcmt{
    width: 95%;
    text-align: center;
    line-height: 23px;
    word-wrap: break-word;
  }
  

}

@media screen and (max-width: 576px ){
  .inner {
    top: 200px;
  }
  .pencil {
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 30px;
    color: rgba(27, 27, 27, 0.639);
    transition: all 0.5s;
    
  }
  
  .pencil:hover{
    color: rgba(35, 35, 35, 0.834);
    transform: scale(1.3);
  }
}
@media screen and (min-width: 1450px) {
  .inner{
    top:308px;
  }
  .ptitle {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .uemail{
    font-size: 20px;
    margin-bottom: 40px;
  }
  .cnttitle{
    font-size: 25px;
    margin-bottom: 40px;
  }
  .myarticle {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 8px;
    transition: all 0.3s;
    width: 43px;
    height: 35px;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
  }
  .feelingcnt {
    font-size: 35px;
    display: block;
    margin: 10px 10px;
  }
  .detailfeelcmt{
    width: 424px;
    font-size: 20px;
    text-align: center;
    line-height: 23px;
    word-wrap: break-word;
  }

}