.inner  {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 230px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  width: 450px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.1);;
}

.btn {
  font-family: 'Grandiflora One', cursive;
  font-size: 30px;
  margin: 15px 0px;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.4s;
}
.logo{
  margin-top: 7px;
  margin-left: 7px;
}

.btn::after {
  width: 105%;
  content: "";
  border-top: 0.5px solid rgba(27, 27, 27, 0.403);
  margin-top: 10px;
  margin-left: -2.5%;
  margin-right: -2.5%;

}
.btn:hover {
  transform: scale(1.02);
}