@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');


.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  font-family: 'Grandiflora One', cursive;
}


.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.addtitle {
  font-size: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.articletitle {
  font-size: 15px;
  vertical-align: middle;
}


.titleinput {
  vertical-align: top;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.emojiinner {
  display: flex;
}
.emoji {
  margin-right: 8px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.emoji:hover {
 transform: scale(1.2) rotate(360deg);
}
.feelingtitle {
  font-size: 15px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.weathertitle {
  font-size: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.weather{
  font-size: 50px;
}
.weather:hover {
  animation: doridori 2s infinite normal;
  animation-timing-function: step-end;
}

@keyframes doridori {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.fourth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
}

.contenttitle {
  font-size: 15px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.content {
  width: 500px;
  height: 250px;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  overflow-y: scroll;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.3px;
  line-height: 1.1;
}
.contentinner {
  width: 500px;
  height: 250px;
  margin-bottom: 70px;
}

.addcommentinner {
  position: relative;
  display: flex;
  width: 900px;
  justify-content: flex-start;
}
.addcomment {
  resize: none;
  width: 550px;
  height: 100px;
  margin-bottom: 10px;
  outline-color: rgba(86, 86, 86, 0.629);
  border-radius: 5px;
  border: 1px solid #565656a7;
  padding: 10px;
  font-family: 'Grandiflora One', cursive;
  letter-spacing: 1.3px;
  line-height: 1.1;
}
.addcmtwriter {
  margin-right: 30px;
  margin-left: 70px; 
}

.addcmtbtn  {
  position: relative;
  left: 270px;
  cursor: pointer;
  margin-bottom: 30px;
}

.exsitedcmt {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3.5fr 0.5fr;
  width: 900px;
  justify-content: flex-start;
}
.excomment {
  margin-bottom: 10px;
  white-space: pre-wrap;
  letter-spacing: 1.3px;
  line-height: 1.1;
}
.excmtwriter {

  margin-left: 70px; 
}