@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');


.articleinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
  margin-top: 60px;
  font-family: 'Grandiflora One', cursive;
}

.content {
  text-align: center;
  line-height: 30px;
}


.article {
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.2s;
  text-align: center;
  
}

.articletitle {
  font-size: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.2s;
}

.articletitle:hover {
  transform: scale(1.05);
}

.pencil {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: rgba(27, 27, 27, 0.639);
  transition: all 0.5s;
  
}

.pencil:hover{
  color: rgba(35, 35, 35, 0.834);
  transform: scale(1.3);
}

.username {
  position: fixed;
  right: 10px;
}

@media screen and (max-width: 576px){
  .content {
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    width: 95%;
  }
  .articletitle {
    font-size: 20px;
    margin-bottom: 22px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .articleinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45px;
 
    font-family: 'Grandiflora One', cursive;
  }
}

@media screen and (min-width: 1450px){
  .articletitle {
    font-size: 35px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .content {
    text-align: center;
    line-height: 40px;
    font-size: 25px;
  }
  .articleinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    margin-top: 60px;
    font-family: 'Grandiflora One', cursive;
  }
}