@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');

.imginner{
  display: flex;
  flex-direction: column;
}

.imginput[type="file"] {
  font-family: 'Grandiflora One', cursive;
  font-size: 15px;
  position: relative;
  left: -95px;
  top: -17px;
}

.imginput[type="file"]::file-selector-button{
  font-size: 15px;
  cursor: pointer;
  font-family: 'Grandiflora One', cursive;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.483);
}

.curimg {
  margin: 10px 0px;
  position: relative;
  left: -95px;
}

@media screen and (max-width: 1024px){
  .imginput[type="file"] {
    font-family: 'Grandiflora One', cursive;
    font-size: 15px;
    position: relative;
    left: -97px;
    top: -16px;
  }
  .curimg {
    margin: -5px 0px;
    position: relative;
    left: -97px;
  }
}


@media screen and (max-width: 576px) {
  .imginput[type="file"] {
    font-family: 'Grandiflora One', cursive;
    font-size: 15px;
    width: 201px;
    position: relative;
    left: -65px;
    top: -15px;
  }
  .curimg {
    margin: 10px 0px;
    position: relative;
    left: -65px;
  }
}


@media screen and (min-width: 1450px) { 
  .imginput[type="file"] {
    font-family: 'Grandiflora One', cursive;
    font-size: 20px;
    position: relative;
    left: -72px;
    top: 2px;
  }
  
  .imginput[type="file"]::file-selector-button{
    font-size: 20px;
    cursor: pointer;
    font-family: 'Grandiflora One', cursive;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.483);
  }
  .curimg {
    margin: 10px 0px;
    position: relative;
    left: -72px;
    width: 150px;
  }
}