@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');


.menuinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.mainmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:76px;
  left:-300px;
  width: 206px;
  height: 206px;
  transition: all 0.5s ;
}
.mainmenu.open {
  left: 0;
  height: 206px;
}

.inmenu {
  margin-top: 43px;
  margin-left: 25px;
  font-family: 'Grandiflora One', cursive;
}


.bars {
  cursor: pointer;
  position: fixed;
  top: 95px;
  left: 30px;
  color: rgba(27, 27, 27, 0.639);
  transition: all 0.5s;
  z-index: 5;
  
}
.bars:hover{
  color: rgba(35, 35, 35, 0.834);
  transform: scale(1.3);
}
.bars.open {
  left: 155px;
}

.menutitle {
  position: relative;
  top: 21px;
  left: 26px;
  font-size: 20px;
  font-family: 'Grandiflora One', cursive;
}
.menulist {
  margin-bottom: 10px;
  font-size: 16px;
}


@media screen and (max-width: 960px ){
  .menuinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    color: aliceblue;
    
  }
  
  .mainmenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:76px;
    left:-300px;
    width: 206px;
    height: 206px;
    transition: all 0.5s ;
    background-color: rgba(27, 27, 27, 0.896);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  .mainmenu.open {
    left: 0;
    width: 100%;
    height: 206px;
  }
  
  .inmenu {
    margin-top: 43px;
    margin-left: 25px;
  }
  
  .bars {
    cursor: pointer;
    position: fixed;
    top: 100px;
    left: 30px;
    color: rgba(27, 27, 27, 0.639);
    transition: all 0.5s;
    z-index: 5;
    
  }

  .bars.open {
    left: 155px;
    color: aliceblue;
  }
  
  .menutitle {
    position: relative;
    top: 21px;
    left: 26px;
    font-size: 20px;
    font-family: 'Grandiflora One', cursive;
  }
}


@media screen and (max-width: 567px) {
  .kill{
    display: none;
  }
}


@media screen and (min-width: 1450px) {
  .menuinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .mainmenu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top:111px;
    left:-300px;
    width: 300px;
    height: 206px;
    transition: all 0.5s ;
  }
  .mainmenu.open {
    top: 111px;
    left: 0;
    height: 206px;
    width:17%;
  }
  
  .inmenu {
    margin-top: 43px;
    margin-left: 25px;
  }
  
  .bars {
    cursor: pointer;
    position: fixed;
    top: 132px;
    left: 30px;
    color: rgba(27, 27, 27, 0.639);
    transition: all 0.5s;
    z-index: 5;
    
  }
  .bars:hover{
    color: rgba(35, 35, 35, 0.834);
    transform: scale(1.3);
  }
  .bars.open {
    left: 228px;
    top:133px;
  }
  
  .menutitle {
    position: relative;
    top: 21px;
    left: 26px;
    font-size: 30px;
    font-family: 'Grandiflora One', cursive;
  }
  .menulist {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

