@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');


.menuinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.mainmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top:80px;
  left:-300px;
  width: 300px;
  height: 100%;
  transition: all 0.5s ;
}
.mainmenu.open {
  left: 0;
}

.inmenu {
  margin-top: 60px;
  margin-left: 25px;
}

.menulist {
  width: 70%;
  font-family: 'Grandiflora One', cursive;
  margin-bottom: 10px;
  transition: all 0.3s;
  cursor: pointer;
}
.menulist:hover {
  transform: scale(1.1);
  transform-origin: 0px 0px;
}

.bars {
  cursor: pointer;
  position: fixed;
  top: 100px;
  left: 30px;
  color: rgba(27, 27, 27, 0.639);
  transition: all 0.5s;
  
}
.bars:hover{
  color: rgba(35, 35, 35, 0.834);
  transform: scale(1.3);
}
.bars.open {
  left: 200px;
}

