@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');


.inner {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  font-family: 'Grandiflora One', cursive;
}


.dateinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.datetitle {
  font-size: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.articledate {
  font-size: 15px;
  vertical-align: middle;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.addtitle {
  font-size: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.articletitle {
  font-size: 15px;
  vertical-align: middle;
}


.titleinput {
  vertical-align: top;
}

.second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.emojiinner {
  display: flex;
}
.emoji {
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s;
}
.emoji:hover {
 transform: scale(1.2) rotate(360deg);
}
.feelingtitle {
  font-size: 15px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.weathertitle {
  font-size: 15px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.weather{
  font-size: 50px;
  animation: doridori 2s infinite normal;
  animation-timing-function: step-end;
}


@keyframes doridori {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  50% {
    transform: rotate(-0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

.fourth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  position: relative;
}

.contenttitle {
  font-size: 15px;
  margin-bottom: 20px;
  vertical-align: middle;
}

.content {
  width: 500px;
  height: 250px;
  resize: none;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  overflow-y: scroll;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  letter-spacing: 1.3px;
  line-height: 1.1;
}
.contentinner {
  width: 500px;
  height: 250px;
  margin-bottom: 50px;
}

.addcommentinner {
  position: relative;
  display: flex;
  width: 900px;
  justify-content: flex-start;
}
.addcomment {
  resize: none;
  width: 550px;
  height: 100px;
  margin-bottom: 10px;
  outline-color: rgba(86, 86, 86, 0.629);
  border-radius: 5px;
  border: 1px solid #565656a7;
  padding: 10px;
  font-family: 'Grandiflora One', cursive;
  letter-spacing: 1.3px;
  line-height: 1.1;
}
.addcmtwriter {
  margin-right: 30px;
  margin-left: 70px; 
}

.addcmtbtn  {
  position: relative;
  left: 700px;
  margin-bottom: 30px;
  font-size: 13px;
  cursor: pointer;
  font-family: 'Grandiflora One', cursive;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.483);
  text-align: center;
  vertical-align: middle;
}

.exsitedcmt {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3.5fr 0.5fr;
  width: 900px;
  justify-content: flex-start;
}
.excomment {
  margin-bottom: 40px;
  white-space: pre-wrap;
  letter-spacing: 1.3px;
  line-height: 1.1;
}
.excmtwriter {
  margin-left: 70px; 
}

.modifyinner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  width: 515px;
  margin-left: 200px;
  top: -25px;
}
.modifyp{
  font-size: 13px;
  cursor: pointer;
  font-family: 'Grandiflora One', cursive;
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.483);
  text-align: center;
  vertical-align: middle;
}
.titleinput {
  vertical-align: top;
}
.publicinput {
  outline-color: rgba(86, 86, 86, 0.629);
  border-radius: 5px;
  border: 1px solid #565656a7;
  height: 20px;
  font-family: 'Grandiflora One', cursive;
}


.content {
  width: 508px;
  height: 250px;
  resize: none;
  padding: 3px;
  margin-bottom: 10px;
  padding: 5px;
}
.content::-webkit-scrollbar {
  width: 8px;
}
.content::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 1.5px solid transparent;
}
.content::-webkit-scrollbar-track {
  background-color: rgba(224, 224, 224, 0.811);
  border-radius: 10px;
}


.choosefeel {
  width: 50px;
  height: 40px;
  font-size: 30px;
  cursor: pointer;
  outline-color: rgba(86, 86, 86, 0.629);
  border-radius: 5px;
  border: 0.5px solid #565656a7;
}

